
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    outline:none;
    border: none;
    text-decoration:none;
    text-transform:capitalize;
    transition:0.2s ease;
    
    }
     
    
    /*!  base html codes */
    html
     {
    font-size: 62.5%;
    overflow-x: hidden ;
    scroll-padding-top: 7rem;
    scroll-behavior :smooth;
    
    
    }
    body
    {
       background-color: #000000; 
       height: 150rem;
    }


    .buton1 {
        position: relative;
  top: 7rem;
    font-size: 1rem;
    margin-left: 34rem;
    font-size: 1.8rem;
    color:var(--white-color);
    border-bottom:0.1rem solid transparent;
    cursor: pointer;
}
    .buton2 {
        position: relative;
  top: 7rem;
    font-size: 1rem;
    margin-left: 21rem;
    font-size: 1.8rem;
    color:var(--white-color);
    border-bottom:0.1rem solid transparent;
    cursor: pointer;
}
    .buton3 {
        position: relative;
  top: 7rem;
    font-size: 1rem;
    margin-left: 26rem;
    font-size: 1.8rem;
    color:var(--white-color);
    border-bottom:0.1rem solid transparent;
    cursor: pointer;
}
     .buton4{
    position: relative;
  top: 7rem;
    font-size: 1rem;
    margin-left: 23rem;
    font-size: 1.8rem;
    color:var(--white-color);
    border-bottom:0.1rem solid transparent;
    cursor: pointer;
     }



    section {
        padding: 1.5 3%;
    }
    .btn{
        margin-top: 1rem;
        display: inline-block;
        padding: 2rem 3.5rem;
        border-radius: 30rem;
        font-size: 1.7rem;
        color: #fff;
        background-color: #000000;
        cursor: pointer;

    }

    .logo img {
        height: 6rem;
        width: 7rem;
    }
    
  
    
    /*! header start */
    
    .header .logo img {
    height:7rem;
    }
    
    .header {
        background-color: #fff;
        display : flex ;
        align-items:center;
        justify-content : space-between;
        padding : 0 7%;
        margin : 2rem 7%;
        border-radius : 30rem;
        box-shadow: 0px 0px  17px -2px rgba(0,0,0,0.75);
        position:sticky;
        top: 0;
        z-index:-1000;
    
    }
    
    


         .header .buttons button {
               display: flex;
                 gap: 25.5rem;
            font-size:2.5rem;
            background-color:transparent;
            cursor: pointer;

        }
        .Anasayfa {
     min-height: 300vh;
     background: url(../images/site14.jpg)
    
    
    no-repeat;
     background-size: cover;
        }
        .Anasayfa .content{
      max-width: 50rem;
      margin-top: 2rem;

        }
        .Anasayfa .content h3{
            font-size: 6rem;
        }
        .Anasayfa .content p{
            font-size: 2rem;
            font-weight: 300;
            line-height: 1.8;
            padding: 1rem 0;
            display :flex;
            align-items: center;
        

        }